
         #left{
            display: flex;
            align-self: flex-start;
         }

        #right{
            display: flex;
            position:absolute;
            right: 20px;
        }