
body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    padding:0px;

   }

.material-icons{
    color: gray;
}

a{
    text-decoration: none;
    color:black;
 }

a:hover{
    text-decoration: underline;
}

#right{
    display:flex;

}

#right .text{
    margin-top: 5px;
 
}
#left{
    margin-top: 5px;;
}



header{
    display: flex;
    justify-content: space-between;
    font-size:13px;
    color:#000;
    opacity: 0.75;
    margin-top:15px;
    margin-left:15px;
    margin-right:15px;
   
                                   
}

header a{
    margin-left:15px;
}


footer{
    background-color:#f2f2f2;
    display: flex;
    justify-content:space-between;
    width: 100%;
    margin:0px;

    position: fixed;
    bottom:3px;
    height:30px;
    font-size:14px;
    color:#5f6368;
    opacity: 0.75;
  
}

#left_f, 
#right_f{
    
    height:30px;
    padding-top:10px;
}

footer a{
    margin-left:15px;
    margin-right:10px;
}

 #signin{
     background-color: #4285f4;
     color: white;
     font-weight: bold;
     width: 75px;
     height:28px;
     border-radius: 3px;
     border: 0px solid #4285f4;
     margin-left:15px;

}



 #logo{
     
     width:fit-content;
     margin:auto;
     margin-top: 140px;
     margin-bottom: 30px;
     
}


 #search{
     
     width: 380px;
     height: 25px;
     border-width:0px;
     border-style:solid;
     border-color:lightgray;
     text-indent: 40px;
     padding-top:10px;
     margin-left:10px;
     background-image: url(./images/1x/outline_search_black_24dp.png);
     background-repeat: no-repeat;
     background-position: 5px 6px;
     font-size: 18px;
            
 }
 
 #mic{
     width:15px;
     margin-left: 60px;
     margin-top: 14px;
     
 }

 #search_area{
    
    border:1px solid lightgray;
    width:500px;
    margin:auto;
    height: 50px;
    border-radius: 25px;
 }

 #search_area:hover,
 #search_area:focus-within{
     
    box-shadow: 3px 3px 8px lightgrey;

 }


 input:focus{
     outline: none;
     text-decoration: none;
     
 }

 #two_buttons{
     
     display: flex;
     justify-content: center;
     margin-top: 25px;    
     
 }

 #two_buttons input{
     color:#5F6368;
     border-radius: 4px;
     background-color: #f2f2f2;
     font-size: 14px;
     margin:10px;
     height: 40px;
     border-style: solid;
     border: 1px solid  #f2f2f2;
     padding-left:10px;
     padding-right: 10px;

 }

 #two_buttons input:hover{
     border-color:darkgrey;
     box-shadow: 0px 1px 1px rgb(0 0 0 / 10%);
     text-decoration: none;
    
     
    
 }


